<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="order">
            <h2><span jhiTranslate="bricknboltApp.order.detail.title">Order</span> {{order.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bricknboltApp.order.price">Price</span></dt>
                <dd>
                    <span>{{order.price}}</span>
                </dd>
                <dt><span jhiTranslate="bricknboltApp.order.orderDate">Order Date</span></dt>
                <dd>
                    <span>{{order.orderDate}}</span>
                </dd>
                <dt><span jhiTranslate="bricknboltApp.order.medium">Medium</span></dt>
                <dd>
                    <span>{{order.medium}}</span>
                </dd>
                <dt><span jhiTranslate="bricknboltApp.order.buyer">Buyer</span></dt>
                <dd>
                    <div *ngIf="order.buyer">
                        <a [routerLink]="['/bolt-user', order.buyer?.id, 'view']">{{order.buyer?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="bricknboltApp.order.referrer">Referrer</span></dt>
                <dd>
                    <div *ngIf="order.referrer">
                        <a [routerLink]="['/bolt-user', order.referrer?.id, 'view']">{{order.referrer?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="bricknboltApp.order.item">Item</span></dt>
                <dd>
                    <div *ngIf="order.item">
                        <a [routerLink]="['/product', order.item?.id, 'view']">{{order.item?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/order', order.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
